<div class="jumbotron container">

	<h1>Ramdom movie from the CSV File</h1>
	
	<div class="well well-lg">
		<h4> 
			<span class="glyphicon glyphicon-film" aria-hidden="true"> TITLE : <%= @film[1]%> </span>
		</h4>	
		
		<h4> 
			<span class="glyphicon glyphicon-time" aria-hidden="true"> YEAR : <%= @film[2]%> </span>
		</h4>

	</div>

</div>
